.tabcontent {
  display: none;
  border: 1px solid #ccc;
  padding: 10px
}

.tabcontent span:hover {
  color: red;
  cursor: pointer;
}

.tab {
  display: flex;
  background-color: #f1f1f1;
}

.tablinks {
  display: inline-block;
  width: 120px;
  border: none;
  padding: 16px;
  background-color: #f1f1f1;
  outline: none;
  transition: 0.3s;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #4caf50;
}

.topright {
  float: right;
  margin-right: 10px;
  font-size: 24px;
}
